# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# 忽略的临时文件
/.idea/compiler.xml
/.idea/libraries/
/.idea/modules.xml
/.idea/vcs.xml
/.idea/contentModel.xml
/.idea/dataSources.xml
/.idea/dataSources.local.xml
/.idea/workspace.xml
/.idea/dictionaries/
/.idea/codeStyles/
